{"openapi":"3.1.0","info":{"title":"WeGest — API Rent-a-Car","version":"1.0.0","description":"Catálogo, disponibilidade, cotação e reservas de rent-a-car da organização, e o catálogo de aluguer semanal TVDE (/tvde). Chave no cabeçalho X-API-Key, só a partir do backend do site. Datas ISO 8601 com fuso. Dinheiro em euros com 2 casas, sempre sem e com IVA. Erros sempre no envelope { \"erro\": { \"codigo\", \"mensagem\" } }. A ip_whitelist de uma chave só é fiável em chamadas directas a https://hkqzzxgeedsmjnhyquke.supabase.co/functions/v1/api-rent-a-car/v1 (servidor \"directo\"); via api.wegest.pt o pedido passa pelo Cloudflare e o IP visto não é o do seu servidor. No \"experimentar\" da documentação use só uma chave de teste."},"servers":[{"url":"https://api.wegest.pt/v1"},{"url":"https://hkqzzxgeedsmjnhyquke.supabase.co/functions/v1/api-rent-a-car/v1","description":"directo"}],"security":[{"ApiKey":[]}],"tags":[{"name":"API"},{"name":"Localizações"},{"name":"Categorias"},{"name":"Modelos"},{"name":"Extras"},{"name":"Coberturas"},{"name":"Disponibilidade"},{"name":"Cotações"},{"name":"Reservas"},{"name":"TVDE"}],"paths":{"/":{"get":{"summary":"Apresentação da API","tags":["API"],"security":[],"x-permissao":"publica","responses":{"200":{"description":"Nome, versão e onde está a documentação","content":{"application/json":{"schema":{"type":"object","properties":{"nome":{"type":"string"},"versao":{"type":"string"},"documentacao":{"type":"string"}}},"example":{"nome":"WeGest — API Rent-a-Car","versao":"1.0.0","documentacao":"https://docs.wegest.pt"}}}}}}},"/health":{"get":{"summary":"Estado da API e da chave","description":"Confirma que a chave autentica e se a organização tem tarifa do site, de rent-a-car e TVDE.","tags":["API"],"x-permissao":"chave","responses":{"200":{"description":"A chave é válida","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"organizacao":{"type":"string","format":"uuid","description":"Organização dona da chave."},"permissoes":{"type":"array","items":{"type":"string"}},"tarifa_site":{"type":"boolean","description":"false quando a organização não tem tarifa do site activa."},"tarifa_site_tvde":{"type":"boolean","description":"false quando a organização não tem tarifa TVDE do site activa."}}},"example":{"ok":true,"organizacao":"e5f6a7b8-9c0d-4e1f-8a2b-3c4d5e6f7a8b","permissoes":["catalogo:read"],"tarifa_site":true,"tarifa_site_tvde":false}}}},"401":{"$ref":"#/components/responses/NaoAutenticado"},"403":{"$ref":"#/components/responses/SemPermissao"},"429":{"$ref":"#/components/responses/LimiteExcedido"},"503":{"$ref":"#/components/responses/Indisponivel"}}}},"/openapi.json":{"get":{"summary":"Esta especificação","tags":["API"],"security":[],"x-permissao":"publica","responses":{"200":{"description":"Documento OpenAPI 3.1","content":{"application/json":{"schema":{"type":"object"},"example":{"openapi":"3.1.0","info":{"title":"WeGest — API Rent-a-Car","version":"1.0.0"}}}}}}}},"/localizacoes":{"get":{"summary":"Estações activas","tags":["Localizações"],"x-permissao":"catalogo:read","responses":{"200":{"description":"Lista de localizações","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Localizacao"}},"example":[{"id":"3f1c2a6e-8b4d-4c1e-9a7f-1d2e3f4a5b6c","nome":"Leiria — Centro","morada":"Avenida Heróis de Angola, 100","cidade":"Leiria","horario":"Seg-Sex 9h-19h, Sáb 9h-13h","latitude":39.7436,"longitude":-8.8071}]}}},"401":{"$ref":"#/components/responses/NaoAutenticado"},"403":{"$ref":"#/components/responses/SemPermissao"},"429":{"$ref":"#/components/responses/LimiteExcedido"},"500":{"$ref":"#/components/responses/ErroInterno"},"503":{"$ref":"#/components/responses/Indisponivel"}}}},"/categorias":{"get":{"summary":"Categorias com modelos publicáveis","tags":["Categorias"],"x-permissao":"catalogo:read","responses":{"200":{"description":"Lista de categorias","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Categoria"}},"example":[{"id":"7a2b9c4d-1e3f-4a5b-8c6d-9e0f1a2b3c4d","codigo":"ECON","nome":"Económico","descricao":"Citadinos de 5 lugares, ideais para a cidade.","codigo_sipp":"EDMR","imagem_url":null,"combustivel":"gasolina","idade_minima_condutor":21,"idade_maxima_condutor":null,"preco_dia_desde":{"sem_iva":35,"com_iva":43.05,"iva":23},"modelos":2}]}}},"401":{"$ref":"#/components/responses/NaoAutenticado"},"403":{"$ref":"#/components/responses/SemPermissao"},"429":{"$ref":"#/components/responses/LimiteExcedido"},"500":{"$ref":"#/components/responses/ErroInterno"},"503":{"$ref":"#/components/responses/Indisponivel"}}}},"/modelos":{"get":{"summary":"Modelos publicáveis (\"Clio ou similar\")","tags":["Modelos"],"x-permissao":"catalogo:read","parameters":[{"name":"categoria","in":"query","description":"Só os modelos desta categoria (id de /categorias).","schema":{"type":"string","format":"uuid"},"example":"7a2b9c4d-1e3f-4a5b-8c6d-9e0f1a2b3c4d"},{"name":"tipo","in":"query","description":"Só passageiros ou só comerciais.","schema":{"type":"string","enum":["passageiros","comercial"]},"example":"passageiros"}],"responses":{"200":{"description":"Lista de modelos","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Modelo"}},"example":[{"id":"b4e8f1a2-5c6d-4e7f-8a9b-0c1d2e3f4a5b","marca":"Renault","modelo":"Clio","categoria":{"id":"7a2b9c4d-1e3f-4a5b-8c6d-9e0f1a2b3c4d","nome":"Económico"},"tipo":"passageiros","caixa":"manual","combustivel":"gasolina","lugares":5,"portas":5,"bagageira":2,"ar_condicionado":true,"imagem_url":"https://hkqzzxgeedsmjnhyquke.supabase.co/storage/v1/object/sign/viatura-documentos/6f1e3d5b-7a9c-4b2e-8d4f-1a3c5e7b9d2f/fotos/1790777910834.webp?token=exemplo","preco_dia":{"sem_iva":35,"com_iva":43.05,"iva":23},"frota":4}]}}},"400":{"$ref":"#/components/responses/ParametroInvalido"},"401":{"$ref":"#/components/responses/NaoAutenticado"},"403":{"$ref":"#/components/responses/SemPermissao"},"429":{"$ref":"#/components/responses/LimiteExcedido"},"500":{"$ref":"#/components/responses/ErroInterno"},"503":{"$ref":"#/components/responses/Indisponivel"}}}},"/modelos/{id}":{"get":{"summary":"Detalhe do modelo com tarifa e coberturas","tags":["Modelos"],"x-permissao":"catalogo:read","parameters":[{"name":"id","in":"path","required":true,"description":"Id do modelo (de /modelos).","schema":{"type":"string","format":"uuid"},"example":"b4e8f1a2-5c6d-4e7f-8a9b-0c1d2e3f4a5b"}],"responses":{"200":{"description":"Modelo","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModeloDetalhe"},"example":{"id":"b4e8f1a2-5c6d-4e7f-8a9b-0c1d2e3f4a5b","marca":"Renault","modelo":"Clio","categoria":{"id":"7a2b9c4d-1e3f-4a5b-8c6d-9e0f1a2b3c4d","nome":"Económico"},"tipo":"passageiros","caixa":"manual","combustivel":"gasolina","lugares":5,"portas":5,"bagageira":2,"ar_condicionado":true,"imagem_url":"https://hkqzzxgeedsmjnhyquke.supabase.co/storage/v1/object/sign/viatura-documentos/6f1e3d5b-7a9c-4b2e-8d4f-1a3c5e7b9d2f/fotos/1790777910834.webp?token=exemplo","preco_dia":{"sem_iva":35,"com_iva":43.05,"iva":23},"frota":4,"tarifa":{"km_incluidos":200,"km_adicional":{"sem_iva":0.15,"com_iva":0.18,"iva":23},"franquia":{"sem_iva":1000,"com_iva":1230,"iva":23},"caucao":{"sem_iva":300,"com_iva":369,"iva":23}},"coberturas":[{"id":"c9d0e1f2-3a4b-4c5d-8e6f-7a8b9c0d1e2f","nome":"Cobertura total","descricao":"Reduz a franquia a zero em danos e furto.","preco_dia":{"sem_iva":12,"com_iva":14.76,"iva":23},"franquia":null}]}}}},"401":{"$ref":"#/components/responses/NaoAutenticado"},"403":{"$ref":"#/components/responses/SemPermissao"},"404":{"$ref":"#/components/responses/NaoEncontrado"},"429":{"$ref":"#/components/responses/LimiteExcedido"},"500":{"$ref":"#/components/responses/ErroInterno"},"503":{"$ref":"#/components/responses/Indisponivel"}}}},"/extras":{"get":{"summary":"Extras activos","tags":["Extras"],"x-permissao":"catalogo:read","responses":{"200":{"description":"Lista de extras","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Extra"}},"example":[{"id":"d1e2f3a4-5b6c-4d7e-8f9a-0b1c2d3e4f5a","nome":"Cadeira de bebé","descricao":"Grupo 0+/1, até 18 kg.","preco":{"sem_iva":5,"com_iva":6.15,"iva":23},"tipo_calculo":"dia","quantidade_maxima":2}]}}},"401":{"$ref":"#/components/responses/NaoAutenticado"},"403":{"$ref":"#/components/responses/SemPermissao"},"429":{"$ref":"#/components/responses/LimiteExcedido"},"500":{"$ref":"#/components/responses/ErroInterno"},"503":{"$ref":"#/components/responses/Indisponivel"}}}},"/coberturas":{"get":{"summary":"Coberturas de seguro activas","tags":["Coberturas"],"x-permissao":"catalogo:read","responses":{"200":{"description":"Lista de coberturas","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Cobertura"}},"example":[{"id":"c9d0e1f2-3a4b-4c5d-8e6f-7a8b9c0d1e2f","nome":"Cobertura total","descricao":"Reduz a franquia a zero em danos e furto.","preco_dia":{"sem_iva":12,"com_iva":14.76,"iva":23},"franquia":null}]}}},"401":{"$ref":"#/components/responses/NaoAutenticado"},"403":{"$ref":"#/components/responses/SemPermissao"},"429":{"$ref":"#/components/responses/LimiteExcedido"},"500":{"$ref":"#/components/responses/ErroInterno"},"503":{"$ref":"#/components/responses/Indisponivel"}}}},"/disponibilidade":{"get":{"summary":"Modelos livres no período, com o preço do aluguer","description":"Calculado na hora e nunca guardado em cache (Cache-Control: no-store, também nos erros). O período tem de começar no futuro, durar no máximo 30 dias e começar dentro da validade da tarifa do site. Sem tarifa do site configurada a resposta é 503 CONFIG_EM_FALTA. Só aparecem modelos com pelo menos uma viatura livre.","tags":["Disponibilidade"],"x-permissao":"disponibilidade:read","parameters":[{"name":"inicio","in":"query","required":true,"description":"Início do aluguer, ISO 8601 com fuso (Z ou ±HH:MM); sem fuso dá 400.","schema":{"type":"string","format":"date-time"},"example":"2026-10-20T10:00:00+01:00"},{"name":"fim","in":"query","required":true,"description":"Fim do aluguer, ISO 8601 com fuso, depois do início.","schema":{"type":"string","format":"date-time"},"example":"2026-10-23T10:00:00+01:00"},{"name":"entrega","in":"query","required":true,"description":"Id da localização de entrega (de /localizacoes).","schema":{"type":"string","format":"uuid"},"example":"3f1c2a6e-8b4d-4c1e-9a7f-1d2e3f4a5b6c"},{"name":"recolha","in":"query","required":true,"description":"Id da localização de recolha; pode ser diferente da entrega.","schema":{"type":"string","format":"uuid"},"example":"4a2d3b7f-9c5e-4d2f-8b8a-2e3f4a5b6c7d"},{"name":"categoria","in":"query","description":"Só os modelos desta categoria (id de /categorias).","schema":{"type":"string","format":"uuid"},"example":"7a2b9c4d-1e3f-4a5b-8c6d-9e0f1a2b3c4d"},{"name":"tipo","in":"query","description":"Só passageiros ou só comerciais.","schema":{"type":"string","enum":["passageiros","comercial"]},"example":"passageiros"}],"responses":{"200":{"description":"Período e modelos livres","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Disponibilidade"},"example":{"periodo":{"inicio":"2026-10-20T09:00:00+00:00","fim":"2026-10-23T09:00:00+00:00","dias":3},"modelos":[{"id":"b4e8f1a2-5c6d-4e7f-8a9b-0c1d2e3f4a5b","marca":"Renault","modelo":"Clio","categoria":{"id":"7a2b9c4d-1e3f-4a5b-8c6d-9e0f1a2b3c4d","nome":"Económico"},"tipo":"passageiros","caixa":"manual","combustivel":"gasolina","lugares":5,"portas":5,"bagageira":2,"ar_condicionado":true,"imagem_url":"https://hkqzzxgeedsmjnhyquke.supabase.co/storage/v1/object/sign/viatura-documentos/6f1e3d5b-7a9c-4b2e-8d4f-1a3c5e7b9d2f/fotos/1790777910834.webp?token=exemplo","preco_dia":{"sem_iva":35,"com_iva":43.05,"iva":23},"frota":4,"quantidade_disponivel":2,"cotacao":{"dias":3,"preco_dia":{"sem_iva":35,"com_iva":43.05,"iva":23},"aluguer":{"sem_iva":105,"com_iva":129.15,"iva":23},"franquia":{"sem_iva":1000,"com_iva":1230,"iva":23},"caucao":{"sem_iva":300,"com_iva":369,"iva":23},"km_incluidos":200}}]}}}},"400":{"$ref":"#/components/responses/PedidoInvalido"},"401":{"$ref":"#/components/responses/NaoAutenticado"},"403":{"$ref":"#/components/responses/SemPermissao"},"404":{"$ref":"#/components/responses/NaoEncontrado"},"409":{"description":"Ainda não há preços para estas datas (TARIFA_INDISPONIVEL)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Erro"},"example":{"erro":{"codigo":"TARIFA_INDISPONIVEL","mensagem":"Ainda não há preços para estas datas."}}}}},"429":{"$ref":"#/components/responses/LimiteExcedido"},"500":{"$ref":"#/components/responses/ErroInterno"},"503":{"$ref":"#/components/responses/Indisponivel"}}}},"/cotacoes":{"post":{"summary":"Preço de um modelo no período, com cobertura e extras","description":"Calculado na hora e nunca guardado em cache (Cache-Control: no-store, também nos erros). O período tem de começar no futuro, durar no máximo 30 dias e começar dentro da validade da tarifa do site. Sem tarifa do site configurada a resposta é 503 CONFIG_EM_FALTA. Não reserva nada. Corpo JSON até 64 KB. 409 TARIFA_INDISPONIVEL quando ainda não há preços para as datas.","tags":["Cotações"],"x-permissao":"disponibilidade:read","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CotacaoPedido"},"example":{"modelo_id":"b4e8f1a2-5c6d-4e7f-8a9b-0c1d2e3f4a5b","inicio":"2026-10-20T10:00:00+01:00","fim":"2026-10-23T10:00:00+01:00","entrega":"3f1c2a6e-8b4d-4c1e-9a7f-1d2e3f4a5b6c","recolha":"4a2d3b7f-9c5e-4d2f-8b8a-2e3f4a5b6c7d","extras":[{"extra_id":"d1e2f3a4-5b6c-4d7e-8f9a-0b1c2d3e4f5a","quantidade":2},{"extra_id":"e2f3a4b5-6c7d-4e8f-9a0b-1c2d3e4f5a6b","quantidade":1}],"cobertura_id":"c9d0e1f2-3a4b-4c5d-8e6f-7a8b9c0d1e2f"}}}},"responses":{"200":{"description":"Linhas da cotação e totais","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cotacao"},"example":{"periodo":{"inicio":"2026-10-20T09:00:00+00:00","fim":"2026-10-23T09:00:00+00:00","dias":3},"modelo":{"id":"b4e8f1a2-5c6d-4e7f-8a9b-0c1d2e3f4a5b","marca":"Renault","modelo":"Clio"},"linhas":[{"tipo":"aluguer","descricao":"Renault Clio ou similar","quantidade":3,"preco_unitario":{"sem_iva":35,"com_iva":43.05,"iva":23},"total":{"sem_iva":105,"com_iva":129.15,"iva":23}},{"tipo":"cobertura","descricao":"Cobertura total","quantidade":3,"preco_unitario":{"sem_iva":12,"com_iva":14.76,"iva":23},"total":{"sem_iva":36,"com_iva":44.28,"iva":23}},{"tipo":"extra","descricao":"Cadeira de bebé","quantidade":2,"preco_unitario":{"sem_iva":5,"com_iva":6.15,"iva":23},"total":{"sem_iva":30,"com_iva":36.9,"iva":23}},{"tipo":"extra","descricao":"Limpeza final","quantidade":1,"preco_unitario":{"sem_iva":20,"com_iva":24.6,"iva":23},"total":{"sem_iva":20,"com_iva":24.6,"iva":23}}],"subtotal":{"sem_iva":191,"com_iva":234.93,"iva":23},"franquia":null,"caucao":{"sem_iva":300,"com_iva":369,"iva":23},"km_incluidos":200,"km_adicional":{"sem_iva":0.15,"com_iva":0.18,"iva":23},"quantidade_disponivel":2}}}},"400":{"$ref":"#/components/responses/PedidoInvalido"},"401":{"$ref":"#/components/responses/NaoAutenticado"},"403":{"$ref":"#/components/responses/SemPermissao"},"404":{"$ref":"#/components/responses/NaoEncontrado"},"409":{"description":"Sem viatura deste modelo livre (SEM_DISPONIBILIDADE) ou sem preços para as datas (TARIFA_INDISPONIVEL)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Erro"},"example":{"erro":{"codigo":"SEM_DISPONIBILIDADE","mensagem":"Sem viaturas deste modelo livres nestas datas."}}}}},"413":{"description":"Corpo acima de 64 KB","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Erro"},"example":{"erro":{"codigo":"CORPO_INVALIDO","mensagem":"Corpo JSON inválido ou acima de 64 KB."}}}}},"429":{"$ref":"#/components/responses/LimiteExcedido"},"500":{"$ref":"#/components/responses/ErroInterno"},"503":{"$ref":"#/components/responses/Indisponivel"}}}},"/reservas":{"post":{"summary":"Criar uma reserva (entra como pendente)","description":"Revalida período, disponibilidade e preço. A viatura é atribuída pela equipa; a reserva fica pendente até ser confirmada no WeGest. Uma referencia_externa já usada devolve a reserva existente, mesmo cancelada: um pedido novo depois de cancelar precisa de referência nova. Sem cache. Corpo JSON até 64 KB.","tags":["Reservas"],"x-permissao":"reservas:write","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReservaPedido"},"example":{"modelo_id":"b4e8f1a2-5c6d-4e7f-8a9b-0c1d2e3f4a5b","inicio":"2026-10-20T10:00:00+01:00","fim":"2026-10-23T10:00:00+01:00","entrega":"3f1c2a6e-8b4d-4c1e-9a7f-1d2e3f4a5b6c","recolha":"4a2d3b7f-9c5e-4d2f-8b8a-2e3f4a5b6c7d","extras":[],"cobertura_id":null,"cliente":{"nome":"Carla Nova","email":"carla@exemplo.pt","telefone":"+351 912 345 678","nif":null,"data_nascimento":"1990-05-01","morada":null,"codigo_postal":null,"localidade":null,"pais":"Portugal"},"carta_conducao":{"numero":"L-1234567","validade":"2030-01-01","pais":"Portugal"},"total_esperado":129.15,"referencia_externa":"site-2026-000123","mensagem":"Chego no voo TP1234 às 9h40."}}}},"responses":{"200":{"description":"Já existia uma reserva com esta referencia_externa: é devolvida, sem criar outra","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Reserva"},"example":{"id":"7d1c2b3a-4e5f-4a6b-8c7d-9e0f1a2b3c4d","codigo":1042,"estado":"pendente","referencia_externa":"site-2026-000123","periodo":{"inicio":"2026-10-20T09:00:00+00:00","fim":"2026-10-23T09:00:00+00:00","dias":3},"modelo":{"id":"b4e8f1a2-5c6d-4e7f-8a9b-0c1d2e3f4a5b","marca":"Renault","modelo":"Clio"},"estacoes":{"entrega":{"id":"3f1c2a6e-8b4d-4c1e-9a7f-1d2e3f4a5b6c","nome":"Leiria — Centro"},"recolha":{"id":"4a2d3b7f-9c5e-4d2f-8b8a-2e3f4a5b6c7d","nome":"Porto"}},"total":{"sem_iva":105,"com_iva":129.15,"iva":23},"criada_em":"2026-10-03T14:05:00Z"}}}},"201":{"description":"Reserva criada","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Reserva"},"example":{"id":"7d1c2b3a-4e5f-4a6b-8c7d-9e0f1a2b3c4d","codigo":1042,"estado":"pendente","referencia_externa":"site-2026-000123","periodo":{"inicio":"2026-10-20T09:00:00+00:00","fim":"2026-10-23T09:00:00+00:00","dias":3},"modelo":{"id":"b4e8f1a2-5c6d-4e7f-8a9b-0c1d2e3f4a5b","marca":"Renault","modelo":"Clio"},"estacoes":{"entrega":{"id":"3f1c2a6e-8b4d-4c1e-9a7f-1d2e3f4a5b6c","nome":"Leiria — Centro"},"recolha":{"id":"4a2d3b7f-9c5e-4d2f-8b8a-2e3f4a5b6c7d","nome":"Porto"}},"total":{"sem_iva":105,"com_iva":129.15,"iva":23},"criada_em":"2026-10-03T14:05:00Z"}}}},"400":{"$ref":"#/components/responses/PedidoInvalido"},"401":{"$ref":"#/components/responses/NaoAutenticado"},"403":{"$ref":"#/components/responses/SemPermissao"},"404":{"$ref":"#/components/responses/NaoEncontrado"},"409":{"description":"O preço mudou (PRECO_ALTERADO, com a cotação nova em detalhes), sem viatura livre (SEM_DISPONIBILIDADE) ou sem preços para as datas (TARIFA_INDISPONIVEL)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Erro"},"example":{"erro":{"codigo":"PRECO_ALTERADO","mensagem":"O preço mudou desde a cotação. Confirme o novo total com o cliente."}}}}},"413":{"description":"Corpo acima de 64 KB","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Erro"},"example":{"erro":{"codigo":"CORPO_INVALIDO","mensagem":"Corpo JSON inválido ou acima de 64 KB."}}}}},"429":{"$ref":"#/components/responses/LimiteExcedido"},"500":{"$ref":"#/components/responses/ErroInterno"},"503":{"$ref":"#/components/responses/Indisponivel"}}}},"/reservas/{codigo}":{"get":{"summary":"Estado de uma reserva criada pelo site","description":"Só reservas criadas pela API desta organização. Serve a qualquer chave da organização com reservas:read, não só à que criou a reserva: uma chave só se dá ao vosso próprio site. Sem cache.","tags":["Reservas"],"x-permissao":"reservas:read","parameters":[{"name":"codigo","in":"path","required":true,"description":"O codigo devolvido na criação.","schema":{"type":"integer"},"example":1042}],"responses":{"200":{"description":"Estado actual e resumo","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Reserva"},"example":{"id":"7d1c2b3a-4e5f-4a6b-8c7d-9e0f1a2b3c4d","codigo":1042,"estado":"pendente","referencia_externa":"site-2026-000123","periodo":{"inicio":"2026-10-20T09:00:00+00:00","fim":"2026-10-23T09:00:00+00:00","dias":3},"modelo":{"id":"b4e8f1a2-5c6d-4e7f-8a9b-0c1d2e3f4a5b","marca":"Renault","modelo":"Clio"},"estacoes":{"entrega":{"id":"3f1c2a6e-8b4d-4c1e-9a7f-1d2e3f4a5b6c","nome":"Leiria — Centro"},"recolha":{"id":"4a2d3b7f-9c5e-4d2f-8b8a-2e3f4a5b6c7d","nome":"Porto"}},"total":{"sem_iva":105,"com_iva":129.15,"iva":23},"criada_em":"2026-10-03T14:05:00Z"}}}},"400":{"$ref":"#/components/responses/PedidoInvalido"},"401":{"$ref":"#/components/responses/NaoAutenticado"},"403":{"$ref":"#/components/responses/SemPermissao"},"404":{"$ref":"#/components/responses/NaoEncontrado"},"429":{"$ref":"#/components/responses/LimiteExcedido"},"500":{"$ref":"#/components/responses/ErroInterno"},"503":{"$ref":"#/components/responses/Indisponivel"}}},"delete":{"summary":"Cancelar uma reserva pendente","description":"Só enquanto está pendente. Cancelar outra vez devolve a reserva cancelada. Depois de confirmada, o cancelamento é feito com a equipa. Serve a qualquer chave da organização com reservas:write, não só à que criou a reserva: uma chave só se dá ao vosso próprio site.","tags":["Reservas"],"x-permissao":"reservas:write","parameters":[{"name":"codigo","in":"path","required":true,"description":"O codigo devolvido na criação.","schema":{"type":"integer"},"example":1042}],"responses":{"200":{"description":"Reserva cancelada","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Reserva"},"example":{"id":"7d1c2b3a-4e5f-4a6b-8c7d-9e0f1a2b3c4d","codigo":1042,"estado":"pendente","referencia_externa":"site-2026-000123","periodo":{"inicio":"2026-10-20T09:00:00+00:00","fim":"2026-10-23T09:00:00+00:00","dias":3},"modelo":{"id":"b4e8f1a2-5c6d-4e7f-8a9b-0c1d2e3f4a5b","marca":"Renault","modelo":"Clio"},"estacoes":{"entrega":{"id":"3f1c2a6e-8b4d-4c1e-9a7f-1d2e3f4a5b6c","nome":"Leiria — Centro"},"recolha":{"id":"4a2d3b7f-9c5e-4d2f-8b8a-2e3f4a5b6c7d","nome":"Porto"}},"total":{"sem_iva":105,"com_iva":129.15,"iva":23},"criada_em":"2026-10-03T14:05:00Z"}}}},"400":{"$ref":"#/components/responses/PedidoInvalido"},"401":{"$ref":"#/components/responses/NaoAutenticado"},"403":{"$ref":"#/components/responses/SemPermissao"},"404":{"$ref":"#/components/responses/NaoEncontrado"},"409":{"description":"A reserva já não está pendente","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Erro"},"example":{"erro":{"codigo":"ESTADO_INVALIDO","mensagem":"A reserva já foi confirmada pela equipa; o cancelamento é feito com ela."}}}}},"429":{"$ref":"#/components/responses/LimiteExcedido"},"500":{"$ref":"#/components/responses/ErroInterno"},"503":{"$ref":"#/components/responses/Indisponivel"}}}},"/tvde/modelos":{"get":{"summary":"Modelos para aluguer semanal TVDE","description":"Modelos com viaturas que podem fazer TVDE e preço por semana na tarifa TVDE do site. Dinheiro com o IVA do TVDE (6% por omissão), não o de rent-a-car.","tags":["TVDE"],"x-permissao":"tvde:catalogo:read","responses":{"200":{"description":"Lista de modelos TVDE","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ModeloTvde"}},"example":[{"id":"a7c3e5f1-2b4d-4e6f-8a1c-3e5f7a9b1c2d","marca":"Toyota","modelo":"Corolla Touring Sports","categoria":{"id":"5e7f9a1b-3c5d-4e7f-9a1b-3c5d7e9f1a2b","nome":"Híbrido"},"caixa":"automatica","combustivel":"hibrido","lugares":5,"portas":5,"bagageira":3,"ar_condicionado":true,"imagem_url":"https://hkqzzxgeedsmjnhyquke.supabase.co/storage/v1/object/sign/viatura-documentos/6f1e3d5b-7a9c-4b2e-8d4f-1a3c5e7b9d2f/fotos/1790777910834.webp?token=exemplo","preco_semana":{"sem_iva":230,"com_iva":243.8,"iva":6},"caucao":{"sem_iva":500,"com_iva":530,"iva":6},"franquia":{"sem_iva":1500,"com_iva":1590,"iva":6},"km_incluidos":6000,"km_adicional":{"sem_iva":0.1,"com_iva":0.11,"iva":6},"frota":6}]}}},"401":{"$ref":"#/components/responses/NaoAutenticado"},"403":{"$ref":"#/components/responses/SemPermissao"},"429":{"$ref":"#/components/responses/LimiteExcedido"},"500":{"$ref":"#/components/responses/ErroInterno"},"503":{"$ref":"#/components/responses/Indisponivel"}}}},"/tvde/modelos/{id}":{"get":{"summary":"Detalhe de um modelo TVDE","tags":["TVDE"],"x-permissao":"tvde:catalogo:read","parameters":[{"name":"id","in":"path","required":true,"description":"Id do modelo (de /tvde/modelos).","schema":{"type":"string","format":"uuid"},"example":"a7c3e5f1-2b4d-4e6f-8a1c-3e5f7a9b1c2d"}],"responses":{"200":{"description":"Modelo TVDE","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModeloTvde"},"example":{"id":"a7c3e5f1-2b4d-4e6f-8a1c-3e5f7a9b1c2d","marca":"Toyota","modelo":"Corolla Touring Sports","categoria":{"id":"5e7f9a1b-3c5d-4e7f-9a1b-3c5d7e9f1a2b","nome":"Híbrido"},"caixa":"automatica","combustivel":"hibrido","lugares":5,"portas":5,"bagageira":3,"ar_condicionado":true,"imagem_url":"https://hkqzzxgeedsmjnhyquke.supabase.co/storage/v1/object/sign/viatura-documentos/6f1e3d5b-7a9c-4b2e-8d4f-1a3c5e7b9d2f/fotos/1790777910834.webp?token=exemplo","preco_semana":{"sem_iva":230,"com_iva":243.8,"iva":6},"caucao":{"sem_iva":500,"com_iva":530,"iva":6},"franquia":{"sem_iva":1500,"com_iva":1590,"iva":6},"km_incluidos":6000,"km_adicional":{"sem_iva":0.1,"com_iva":0.11,"iva":6},"frota":6}}}},"401":{"$ref":"#/components/responses/NaoAutenticado"},"403":{"$ref":"#/components/responses/SemPermissao"},"404":{"$ref":"#/components/responses/NaoEncontrado"},"429":{"$ref":"#/components/responses/LimiteExcedido"},"500":{"$ref":"#/components/responses/ErroInterno"},"503":{"$ref":"#/components/responses/Indisponivel"}}}},"/tvde/disponibilidade":{"get":{"summary":"Modelos TVDE livres a partir de uma data, sem fim","description":"O aluguer TVDE não tem fim: renova-se semana a semana. Por isso uma viatura só conta se estiver livre a partir de inicio sem nada marcado depois — uma reserva de rent-a-car daqui a três meses já a tira daqui. Descontam-se as reservas sem viatura do modelo. inicio tem de estar no futuro e a no máximo 180 dias (senão 400 PERIODO_INVALIDO). Sem tarifa TVDE do site a resposta é 503 CONFIG_EM_FALTA; com inicio fora da validade dessa tarifa, 409 TARIFA_INDISPONIVEL. Calculado na hora e nunca guardado em cache (Cache-Control: no-store, também nos erros). Só aparecem modelos com pelo menos uma viatura livre.","tags":["TVDE"],"x-permissao":"tvde:catalogo:read","parameters":[{"name":"inicio","in":"query","required":true,"description":"Início do aluguer, ISO 8601 com fuso (Z ou ±HH:MM); sem fuso dá 400. No futuro e a no máximo 180 dias.","schema":{"type":"string","format":"date-time"},"example":"2026-10-12T09:00:00+01:00"}],"responses":{"200":{"description":"Modelos TVDE livres a partir de inicio","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DisponibilidadeTvde"},"example":{"inicio":"2026-10-12T08:00:00+00:00","modelos":[{"id":"a7c3e5f1-2b4d-4e6f-8a1c-3e5f7a9b1c2d","marca":"Toyota","modelo":"Corolla Touring Sports","categoria":{"id":"5e7f9a1b-3c5d-4e7f-9a1b-3c5d7e9f1a2b","nome":"Híbrido"},"caixa":"automatica","combustivel":"hibrido","lugares":5,"portas":5,"bagageira":3,"ar_condicionado":true,"imagem_url":"https://hkqzzxgeedsmjnhyquke.supabase.co/storage/v1/object/sign/viatura-documentos/6f1e3d5b-7a9c-4b2e-8d4f-1a3c5e7b9d2f/fotos/1790777910834.webp?token=exemplo","preco_semana":{"sem_iva":230,"com_iva":243.8,"iva":6},"caucao":{"sem_iva":500,"com_iva":530,"iva":6},"franquia":{"sem_iva":1500,"com_iva":1590,"iva":6},"km_incluidos":6000,"km_adicional":{"sem_iva":0.1,"com_iva":0.11,"iva":6},"frota":6,"quantidade_disponivel":2}]}}}},"400":{"$ref":"#/components/responses/PedidoInvalido"},"401":{"$ref":"#/components/responses/NaoAutenticado"},"403":{"$ref":"#/components/responses/SemPermissao"},"404":{"$ref":"#/components/responses/NaoEncontrado"},"409":{"description":"Ainda não há preços TVDE para esta data (TARIFA_INDISPONIVEL)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Erro"},"example":{"erro":{"codigo":"TARIFA_INDISPONIVEL","mensagem":"Ainda não há preços TVDE para esta data."}}}}},"429":{"$ref":"#/components/responses/LimiteExcedido"},"500":{"$ref":"#/components/responses/ErroInterno"},"503":{"$ref":"#/components/responses/Indisponivel"}}}}},"components":{"securitySchemes":{"ApiKey":{"type":"apiKey","in":"header","name":"X-API-Key"}},"schemas":{"Preco":{"type":"object","description":"Euros com 2 casas; iva em percentagem.","required":["sem_iva","com_iva","iva"],"properties":{"sem_iva":{"type":"number","description":"Valor sem IVA."},"com_iva":{"type":"number","description":"Valor com IVA."},"iva":{"type":"number","description":"Taxa de IVA em percentagem."}},"example":{"sem_iva":35,"com_iva":43.05,"iva":23}},"Localizacao":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"nome":{"type":"string","description":"Nome da estação."},"morada":{"type":["string","null"]},"cidade":{"type":["string","null"]},"horario":{"type":["string","null"],"description":"Horário de atendimento, em texto livre."},"latitude":{"type":["number","null"]},"longitude":{"type":["number","null"]}},"example":{"id":"3f1c2a6e-8b4d-4c1e-9a7f-1d2e3f4a5b6c","nome":"Leiria — Centro","morada":"Avenida Heróis de Angola, 100","cidade":"Leiria","horario":"Seg-Sex 9h-19h, Sáb 9h-13h","latitude":39.7436,"longitude":-8.8071}},"Categoria":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"codigo":{"type":"string","description":"Código interno da categoria."},"nome":{"type":"string"},"descricao":{"type":["string","null"]},"codigo_sipp":{"type":["string","null"],"description":"Código ACRISS/SIPP de 4 letras."},"imagem_url":{"type":["string","null"]},"combustivel":{"type":["string","null"]},"idade_minima_condutor":{"type":["integer","null"],"description":"Idade mínima do condutor, em anos."},"idade_maxima_condutor":{"type":["integer","null"],"description":"Idade máxima do condutor, em anos."},"preco_dia_desde":{"type":["object","null"],"description":"Preço por dia mais baixo da categoria.","required":["sem_iva","com_iva","iva"],"properties":{"sem_iva":{"type":"number","description":"Valor sem IVA."},"com_iva":{"type":"number","description":"Valor com IVA."},"iva":{"type":"number","description":"Taxa de IVA em percentagem."}},"example":{"sem_iva":35,"com_iva":43.05,"iva":23}},"modelos":{"type":"integer","description":"Modelos publicáveis nesta categoria."}},"example":{"id":"7a2b9c4d-1e3f-4a5b-8c6d-9e0f1a2b3c4d","codigo":"ECON","nome":"Económico","descricao":"Citadinos de 5 lugares, ideais para a cidade.","codigo_sipp":"EDMR","imagem_url":null,"combustivel":"gasolina","idade_minima_condutor":21,"idade_maxima_condutor":null,"preco_dia_desde":{"sem_iva":35,"com_iva":43.05,"iva":23},"modelos":2}},"Modelo":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"marca":{"type":"string"},"modelo":{"type":"string","description":"Mostrado como \"<modelo> ou similar\"."},"categoria":{"type":["object","null"],"properties":{"id":{"type":"string","format":"uuid"},"nome":{"type":"string"}}},"tipo":{"type":"string","enum":["passageiros","comercial"]},"caixa":{"type":"string","enum":["manual","automatica"]},"combustivel":{"type":["string","null"]},"lugares":{"type":"integer"},"portas":{"type":["integer","null"]},"bagageira":{"type":["integer","null"],"description":"Malas grandes que cabem na bagageira."},"ar_condicionado":{"type":"boolean"},"imagem_url":{"type":["string","null"],"description":"Foto de uma viatura deste modelo (link temporário, válido 24 h; pode mudar entre pedidos). null se nenhuma viatura do modelo tiver foto."},"preco_dia":{"type":"object","description":"Preço por dia na tarifa do site.","required":["sem_iva","com_iva","iva"],"properties":{"sem_iva":{"type":"number","description":"Valor sem IVA."},"com_iva":{"type":"number","description":"Valor com IVA."},"iva":{"type":"number","description":"Taxa de IVA em percentagem."}},"example":{"sem_iva":35,"com_iva":43.05,"iva":23}},"frota":{"type":"integer","description":"Viaturas deste modelo na frota de aluguer."}},"example":{"id":"b4e8f1a2-5c6d-4e7f-8a9b-0c1d2e3f4a5b","marca":"Renault","modelo":"Clio","categoria":{"id":"7a2b9c4d-1e3f-4a5b-8c6d-9e0f1a2b3c4d","nome":"Económico"},"tipo":"passageiros","caixa":"manual","combustivel":"gasolina","lugares":5,"portas":5,"bagageira":2,"ar_condicionado":true,"imagem_url":"https://hkqzzxgeedsmjnhyquke.supabase.co/storage/v1/object/sign/viatura-documentos/6f1e3d5b-7a9c-4b2e-8d4f-1a3c5e7b9d2f/fotos/1790777910834.webp?token=exemplo","preco_dia":{"sem_iva":35,"com_iva":43.05,"iva":23},"frota":4}},"ModeloDetalhe":{"allOf":[{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"marca":{"type":"string"},"modelo":{"type":"string","description":"Mostrado como \"<modelo> ou similar\"."},"categoria":{"type":["object","null"],"properties":{"id":{"type":"string","format":"uuid"},"nome":{"type":"string"}}},"tipo":{"type":"string","enum":["passageiros","comercial"]},"caixa":{"type":"string","enum":["manual","automatica"]},"combustivel":{"type":["string","null"]},"lugares":{"type":"integer"},"portas":{"type":["integer","null"]},"bagageira":{"type":["integer","null"],"description":"Malas grandes que cabem na bagageira."},"ar_condicionado":{"type":"boolean"},"imagem_url":{"type":["string","null"],"description":"Foto de uma viatura deste modelo (link temporário, válido 24 h; pode mudar entre pedidos). null se nenhuma viatura do modelo tiver foto."},"preco_dia":{"type":"object","description":"Preço por dia na tarifa do site.","required":["sem_iva","com_iva","iva"],"properties":{"sem_iva":{"type":"number","description":"Valor sem IVA."},"com_iva":{"type":"number","description":"Valor com IVA."},"iva":{"type":"number","description":"Taxa de IVA em percentagem."}},"example":{"sem_iva":35,"com_iva":43.05,"iva":23}},"frota":{"type":"integer","description":"Viaturas deste modelo na frota de aluguer."}},"example":{"id":"b4e8f1a2-5c6d-4e7f-8a9b-0c1d2e3f4a5b","marca":"Renault","modelo":"Clio","categoria":{"id":"7a2b9c4d-1e3f-4a5b-8c6d-9e0f1a2b3c4d","nome":"Económico"},"tipo":"passageiros","caixa":"manual","combustivel":"gasolina","lugares":5,"portas":5,"bagageira":2,"ar_condicionado":true,"imagem_url":"https://hkqzzxgeedsmjnhyquke.supabase.co/storage/v1/object/sign/viatura-documentos/6f1e3d5b-7a9c-4b2e-8d4f-1a3c5e7b9d2f/fotos/1790777910834.webp?token=exemplo","preco_dia":{"sem_iva":35,"com_iva":43.05,"iva":23},"frota":4}},{"type":"object","properties":{"tarifa":{"type":"object","properties":{"km_incluidos":{"type":["integer","null"],"description":"Quilómetros incluídos por dia; null = ilimitados."},"km_adicional":{"type":["object","null"],"description":"Preço por quilómetro a mais.","required":["sem_iva","com_iva","iva"],"properties":{"sem_iva":{"type":"number","description":"Valor sem IVA."},"com_iva":{"type":"number","description":"Valor com IVA."},"iva":{"type":"number","description":"Taxa de IVA em percentagem."}},"example":{"sem_iva":35,"com_iva":43.05,"iva":23}},"franquia":{"type":["object","null"],"description":"Euros com 2 casas; iva em percentagem.","required":["sem_iva","com_iva","iva"],"properties":{"sem_iva":{"type":"number","description":"Valor sem IVA."},"com_iva":{"type":"number","description":"Valor com IVA."},"iva":{"type":"number","description":"Taxa de IVA em percentagem."}},"example":{"sem_iva":35,"com_iva":43.05,"iva":23}},"caucao":{"type":["object","null"],"description":"Euros com 2 casas; iva em percentagem.","required":["sem_iva","com_iva","iva"],"properties":{"sem_iva":{"type":"number","description":"Valor sem IVA."},"com_iva":{"type":"number","description":"Valor com IVA."},"iva":{"type":"number","description":"Taxa de IVA em percentagem."}},"example":{"sem_iva":35,"com_iva":43.05,"iva":23}}}},"coberturas":{"type":"array","items":{"$ref":"#/components/schemas/Cobertura"}}}}],"example":{"id":"b4e8f1a2-5c6d-4e7f-8a9b-0c1d2e3f4a5b","marca":"Renault","modelo":"Clio","categoria":{"id":"7a2b9c4d-1e3f-4a5b-8c6d-9e0f1a2b3c4d","nome":"Económico"},"tipo":"passageiros","caixa":"manual","combustivel":"gasolina","lugares":5,"portas":5,"bagageira":2,"ar_condicionado":true,"imagem_url":"https://hkqzzxgeedsmjnhyquke.supabase.co/storage/v1/object/sign/viatura-documentos/6f1e3d5b-7a9c-4b2e-8d4f-1a3c5e7b9d2f/fotos/1790777910834.webp?token=exemplo","preco_dia":{"sem_iva":35,"com_iva":43.05,"iva":23},"frota":4,"tarifa":{"km_incluidos":200,"km_adicional":{"sem_iva":0.15,"com_iva":0.18,"iva":23},"franquia":{"sem_iva":1000,"com_iva":1230,"iva":23},"caucao":{"sem_iva":300,"com_iva":369,"iva":23}},"coberturas":[{"id":"c9d0e1f2-3a4b-4c5d-8e6f-7a8b9c0d1e2f","nome":"Cobertura total","descricao":"Reduz a franquia a zero em danos e furto.","preco_dia":{"sem_iva":12,"com_iva":14.76,"iva":23},"franquia":null}]}},"Extra":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"nome":{"type":"string"},"descricao":{"type":["string","null"]},"preco":{"type":"object","description":"Euros com 2 casas; iva em percentagem.","required":["sem_iva","com_iva","iva"],"properties":{"sem_iva":{"type":"number","description":"Valor sem IVA."},"com_iva":{"type":"number","description":"Valor com IVA."},"iva":{"type":"number","description":"Taxa de IVA em percentagem."}},"example":{"sem_iva":35,"com_iva":43.05,"iva":23}},"tipo_calculo":{"type":"string","enum":["fixo","dia"],"description":"fixo = uma vez por aluguer; dia = por cada dia."},"quantidade_maxima":{"type":["integer","null"]}},"example":{"id":"d1e2f3a4-5b6c-4d7e-8f9a-0b1c2d3e4f5a","nome":"Cadeira de bebé","descricao":"Grupo 0+/1, até 18 kg.","preco":{"sem_iva":5,"com_iva":6.15,"iva":23},"tipo_calculo":"dia","quantidade_maxima":2}},"Cobertura":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"nome":{"type":"string"},"descricao":{"type":["string","null"]},"preco_dia":{"type":"object","description":"Euros com 2 casas; iva em percentagem.","required":["sem_iva","com_iva","iva"],"properties":{"sem_iva":{"type":"number","description":"Valor sem IVA."},"com_iva":{"type":"number","description":"Valor com IVA."},"iva":{"type":"number","description":"Taxa de IVA em percentagem."}},"example":{"sem_iva":35,"com_iva":43.05,"iva":23}},"franquia":{"type":["object","null"],"description":"Franquia com esta cobertura; null = sem franquia.","required":["sem_iva","com_iva","iva"],"properties":{"sem_iva":{"type":"number","description":"Valor sem IVA."},"com_iva":{"type":"number","description":"Valor com IVA."},"iva":{"type":"number","description":"Taxa de IVA em percentagem."}},"example":{"sem_iva":35,"com_iva":43.05,"iva":23}}},"example":{"id":"c9d0e1f2-3a4b-4c5d-8e6f-7a8b9c0d1e2f","nome":"Cobertura total","descricao":"Reduz a franquia a zero em danos e furto.","preco_dia":{"sem_iva":12,"com_iva":14.76,"iva":23},"franquia":null}},"Erro":{"type":"object","required":["erro"],"properties":{"erro":{"type":"object","required":["codigo","mensagem"],"properties":{"codigo":{"type":"string","description":"Código estável, para o seu código decidir."},"mensagem":{"type":"string","description":"Texto em português, para registo; não mostrar ao cliente final."},"detalhes":{"description":"Opcional; depende do código."}}}},"example":{"erro":{"codigo":"NAO_AUTENTICADO","mensagem":"Chave de API desconhecida."}}},"Periodo":{"type":"object","properties":{"inicio":{"type":"string","format":"date-time","description":"Início do aluguer, em UTC."},"fim":{"type":"string","format":"date-time","description":"Fim do aluguer, em UTC."},"dias":{"type":"integer","description":"Dias facturados: blocos de 24 h no calendário de Lisboa, arredondados para cima. Uma mudança de hora não acrescenta um dia."}},"example":{"inicio":"2026-10-20T09:00:00+00:00","fim":"2026-10-23T09:00:00+00:00","dias":3}},"ModeloDisponivel":{"allOf":[{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"marca":{"type":"string"},"modelo":{"type":"string","description":"Mostrado como \"<modelo> ou similar\"."},"categoria":{"type":["object","null"],"properties":{"id":{"type":"string","format":"uuid"},"nome":{"type":"string"}}},"tipo":{"type":"string","enum":["passageiros","comercial"]},"caixa":{"type":"string","enum":["manual","automatica"]},"combustivel":{"type":["string","null"]},"lugares":{"type":"integer"},"portas":{"type":["integer","null"]},"bagageira":{"type":["integer","null"],"description":"Malas grandes que cabem na bagageira."},"ar_condicionado":{"type":"boolean"},"imagem_url":{"type":["string","null"],"description":"Foto de uma viatura deste modelo (link temporário, válido 24 h; pode mudar entre pedidos). null se nenhuma viatura do modelo tiver foto."},"preco_dia":{"type":"object","description":"Preço por dia na tarifa do site.","required":["sem_iva","com_iva","iva"],"properties":{"sem_iva":{"type":"number","description":"Valor sem IVA."},"com_iva":{"type":"number","description":"Valor com IVA."},"iva":{"type":"number","description":"Taxa de IVA em percentagem."}},"example":{"sem_iva":35,"com_iva":43.05,"iva":23}},"frota":{"type":"integer","description":"Viaturas deste modelo na frota de aluguer."}},"example":{"id":"b4e8f1a2-5c6d-4e7f-8a9b-0c1d2e3f4a5b","marca":"Renault","modelo":"Clio","categoria":{"id":"7a2b9c4d-1e3f-4a5b-8c6d-9e0f1a2b3c4d","nome":"Económico"},"tipo":"passageiros","caixa":"manual","combustivel":"gasolina","lugares":5,"portas":5,"bagageira":2,"ar_condicionado":true,"imagem_url":"https://hkqzzxgeedsmjnhyquke.supabase.co/storage/v1/object/sign/viatura-documentos/6f1e3d5b-7a9c-4b2e-8d4f-1a3c5e7b9d2f/fotos/1790777910834.webp?token=exemplo","preco_dia":{"sem_iva":35,"com_iva":43.05,"iva":23},"frota":4}},{"type":"object","properties":{"quantidade_disponivel":{"type":"integer","description":"Viaturas deste modelo livres no período (sempre 1 ou mais)."},"cotacao":{"type":"object","description":"Preço do aluguer no período, sem cobertura nem extras.","properties":{"dias":{"type":"integer"},"preco_dia":{"$ref":"#/components/schemas/Preco"},"aluguer":{"type":"object","description":"preco_dia × dias.","required":["sem_iva","com_iva","iva"],"properties":{"sem_iva":{"type":"number","description":"Valor sem IVA."},"com_iva":{"type":"number","description":"Valor com IVA."},"iva":{"type":"number","description":"Taxa de IVA em percentagem."}},"example":{"sem_iva":35,"com_iva":43.05,"iva":23}},"franquia":{"type":["object","null"],"description":"Franquia do modelo sem cobertura.","required":["sem_iva","com_iva","iva"],"properties":{"sem_iva":{"type":"number","description":"Valor sem IVA."},"com_iva":{"type":"number","description":"Valor com IVA."},"iva":{"type":"number","description":"Taxa de IVA em percentagem."}},"example":{"sem_iva":35,"com_iva":43.05,"iva":23}},"caucao":{"type":["object","null"],"description":"Caução do modelo.","required":["sem_iva","com_iva","iva"],"properties":{"sem_iva":{"type":"number","description":"Valor sem IVA."},"com_iva":{"type":"number","description":"Valor com IVA."},"iva":{"type":"number","description":"Taxa de IVA em percentagem."}},"example":{"sem_iva":35,"com_iva":43.05,"iva":23}},"km_incluidos":{"type":["integer","null"],"description":"Quilómetros incluídos; null = ilimitados."}}}}}],"example":{"id":"b4e8f1a2-5c6d-4e7f-8a9b-0c1d2e3f4a5b","marca":"Renault","modelo":"Clio","categoria":{"id":"7a2b9c4d-1e3f-4a5b-8c6d-9e0f1a2b3c4d","nome":"Económico"},"tipo":"passageiros","caixa":"manual","combustivel":"gasolina","lugares":5,"portas":5,"bagageira":2,"ar_condicionado":true,"imagem_url":"https://hkqzzxgeedsmjnhyquke.supabase.co/storage/v1/object/sign/viatura-documentos/6f1e3d5b-7a9c-4b2e-8d4f-1a3c5e7b9d2f/fotos/1790777910834.webp?token=exemplo","preco_dia":{"sem_iva":35,"com_iva":43.05,"iva":23},"frota":4,"quantidade_disponivel":2,"cotacao":{"dias":3,"preco_dia":{"sem_iva":35,"com_iva":43.05,"iva":23},"aluguer":{"sem_iva":105,"com_iva":129.15,"iva":23},"franquia":{"sem_iva":1000,"com_iva":1230,"iva":23},"caucao":{"sem_iva":300,"com_iva":369,"iva":23},"km_incluidos":200}}},"Disponibilidade":{"type":"object","properties":{"periodo":{"$ref":"#/components/schemas/Periodo"},"modelos":{"type":"array","items":{"$ref":"#/components/schemas/ModeloDisponivel"}}},"example":{"periodo":{"inicio":"2026-10-20T09:00:00+00:00","fim":"2026-10-23T09:00:00+00:00","dias":3},"modelos":[{"id":"b4e8f1a2-5c6d-4e7f-8a9b-0c1d2e3f4a5b","marca":"Renault","modelo":"Clio","categoria":{"id":"7a2b9c4d-1e3f-4a5b-8c6d-9e0f1a2b3c4d","nome":"Económico"},"tipo":"passageiros","caixa":"manual","combustivel":"gasolina","lugares":5,"portas":5,"bagageira":2,"ar_condicionado":true,"imagem_url":"https://hkqzzxgeedsmjnhyquke.supabase.co/storage/v1/object/sign/viatura-documentos/6f1e3d5b-7a9c-4b2e-8d4f-1a3c5e7b9d2f/fotos/1790777910834.webp?token=exemplo","preco_dia":{"sem_iva":35,"com_iva":43.05,"iva":23},"frota":4,"quantidade_disponivel":2,"cotacao":{"dias":3,"preco_dia":{"sem_iva":35,"com_iva":43.05,"iva":23},"aluguer":{"sem_iva":105,"com_iva":129.15,"iva":23},"franquia":{"sem_iva":1000,"com_iva":1230,"iva":23},"caucao":{"sem_iva":300,"com_iva":369,"iva":23},"km_incluidos":200}}]}},"CotacaoPedido":{"type":"object","required":["modelo_id","inicio","fim","entrega","recolha"],"properties":{"modelo_id":{"type":"string","format":"uuid","description":"Id do modelo (de /modelos ou /disponibilidade)."},"inicio":{"type":"string","format":"date-time","description":"ISO 8601 com fuso (Z ou ±HH:MM); sem fuso dá 400."},"fim":{"type":"string","format":"date-time","description":"ISO 8601 com fuso, depois do início."},"entrega":{"type":"string","format":"uuid","description":"Id da localização de entrega (de /localizacoes)."},"recolha":{"type":"string","format":"uuid","description":"Id da localização de recolha; pode ser diferente da entrega."},"extras":{"type":"array","maxItems":20,"description":"Até 20; cada extra uma só vez (repetir o mesmo extra_id dá 400).","items":{"type":"object","required":["extra_id","quantidade"],"properties":{"extra_id":{"type":"string","format":"uuid","description":"Id do extra (de /extras)."},"quantidade":{"type":"integer","minimum":1,"description":"Inteiro de 1 até à quantidade_maxima do extra."}}}},"cobertura_id":{"type":["string","null"],"format":"uuid","description":"Cobertura escolhida (de /coberturas); a franquia dela substitui a do modelo."}},"example":{"modelo_id":"b4e8f1a2-5c6d-4e7f-8a9b-0c1d2e3f4a5b","inicio":"2026-10-20T10:00:00+01:00","fim":"2026-10-23T10:00:00+01:00","entrega":"3f1c2a6e-8b4d-4c1e-9a7f-1d2e3f4a5b6c","recolha":"4a2d3b7f-9c5e-4d2f-8b8a-2e3f4a5b6c7d","extras":[{"extra_id":"d1e2f3a4-5b6c-4d7e-8f9a-0b1c2d3e4f5a","quantidade":2},{"extra_id":"e2f3a4b5-6c7d-4e8f-9a0b-1c2d3e4f5a6b","quantidade":1}],"cobertura_id":"c9d0e1f2-3a4b-4c5d-8e6f-7a8b9c0d1e2f"}},"LinhaCotacao":{"type":"object","properties":{"tipo":{"type":"string","enum":["aluguer","cobertura","extra"]},"descricao":{"type":"string"},"quantidade":{"type":"integer","description":"Dias no aluguer e na cobertura; unidades num extra."},"preco_unitario":{"$ref":"#/components/schemas/Preco"},"total":{"$ref":"#/components/schemas/Preco"}},"example":{"tipo":"aluguer","descricao":"Renault Clio ou similar","quantidade":3,"preco_unitario":{"sem_iva":35,"com_iva":43.05,"iva":23},"total":{"sem_iva":105,"com_iva":129.15,"iva":23}}},"Cotacao":{"type":"object","properties":{"periodo":{"$ref":"#/components/schemas/Periodo"},"modelo":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"marca":{"type":"string"},"modelo":{"type":"string"}}},"linhas":{"type":"array","items":{"$ref":"#/components/schemas/LinhaCotacao"}},"subtotal":{"type":"object","description":"Soma das linhas.","required":["sem_iva","com_iva","iva"],"properties":{"sem_iva":{"type":"number","description":"Valor sem IVA."},"com_iva":{"type":"number","description":"Valor com IVA."},"iva":{"type":"number","description":"Taxa de IVA em percentagem."}},"example":{"sem_iva":35,"com_iva":43.05,"iva":23}},"franquia":{"type":["object","null"],"description":"Franquia da cobertura escolhida ou, sem cobertura, a do modelo.","required":["sem_iva","com_iva","iva"],"properties":{"sem_iva":{"type":"number","description":"Valor sem IVA."},"com_iva":{"type":"number","description":"Valor com IVA."},"iva":{"type":"number","description":"Taxa de IVA em percentagem."}},"example":{"sem_iva":35,"com_iva":43.05,"iva":23}},"caucao":{"type":["object","null"],"description":"Caução do modelo.","required":["sem_iva","com_iva","iva"],"properties":{"sem_iva":{"type":"number","description":"Valor sem IVA."},"com_iva":{"type":"number","description":"Valor com IVA."},"iva":{"type":"number","description":"Taxa de IVA em percentagem."}},"example":{"sem_iva":35,"com_iva":43.05,"iva":23}},"km_incluidos":{"type":["integer","null"],"description":"Quilómetros incluídos; null = ilimitados."},"km_adicional":{"type":["object","null"],"description":"Preço por quilómetro a mais.","required":["sem_iva","com_iva","iva"],"properties":{"sem_iva":{"type":"number","description":"Valor sem IVA."},"com_iva":{"type":"number","description":"Valor com IVA."},"iva":{"type":"number","description":"Taxa de IVA em percentagem."}},"example":{"sem_iva":35,"com_iva":43.05,"iva":23}},"quantidade_disponivel":{"type":"integer"}},"example":{"periodo":{"inicio":"2026-10-20T09:00:00+00:00","fim":"2026-10-23T09:00:00+00:00","dias":3},"modelo":{"id":"b4e8f1a2-5c6d-4e7f-8a9b-0c1d2e3f4a5b","marca":"Renault","modelo":"Clio"},"linhas":[{"tipo":"aluguer","descricao":"Renault Clio ou similar","quantidade":3,"preco_unitario":{"sem_iva":35,"com_iva":43.05,"iva":23},"total":{"sem_iva":105,"com_iva":129.15,"iva":23}},{"tipo":"cobertura","descricao":"Cobertura total","quantidade":3,"preco_unitario":{"sem_iva":12,"com_iva":14.76,"iva":23},"total":{"sem_iva":36,"com_iva":44.28,"iva":23}},{"tipo":"extra","descricao":"Cadeira de bebé","quantidade":2,"preco_unitario":{"sem_iva":5,"com_iva":6.15,"iva":23},"total":{"sem_iva":30,"com_iva":36.9,"iva":23}},{"tipo":"extra","descricao":"Limpeza final","quantidade":1,"preco_unitario":{"sem_iva":20,"com_iva":24.6,"iva":23},"total":{"sem_iva":20,"com_iva":24.6,"iva":23}}],"subtotal":{"sem_iva":191,"com_iva":234.93,"iva":23},"franquia":null,"caucao":{"sem_iva":300,"com_iva":369,"iva":23},"km_incluidos":200,"km_adicional":{"sem_iva":0.15,"com_iva":0.18,"iva":23},"quantidade_disponivel":2}},"ClienteReserva":{"type":"object","required":["nome","email","telefone","data_nascimento","pais"],"description":"Procura-se pelo NIF e, sem NIF, pelo email. Um cliente que já existe nunca é alterado.","properties":{"nome":{"type":"string","description":"Nome completo.","maxLength":200},"email":{"type":"string","description":"Email do cliente.","format":"email","maxLength":254},"telefone":{"type":"string","description":"Com ou sem indicativo.","maxLength":20},"nif":{"type":["string","null"],"description":"NIF português (9 dígitos). Clientes estrangeiros omitem-no.","maxLength":9},"data_nascimento":{"type":"string","format":"date","description":"AAAA-MM-DD, no passado, de 1900-01-01 em diante."},"morada":{"type":["string","null"],"description":"Morada.","maxLength":200},"codigo_postal":{"type":["string","null"],"description":"Código postal.","maxLength":20},"localidade":{"type":["string","null"],"description":"Localidade.","maxLength":100},"pais":{"type":"string","description":"País de residência.","maxLength":60}},"example":{"nome":"Carla Nova","email":"carla@exemplo.pt","telefone":"+351 912 345 678","nif":null,"data_nascimento":"1990-05-01","morada":null,"codigo_postal":null,"localidade":null,"pais":"Portugal"}},"CartaConducao":{"type":"object","required":["numero","validade","pais"],"properties":{"numero":{"type":"string","description":"Número da carta.","maxLength":40},"validade":{"type":"string","format":"date","description":"AAAA-MM-DD; tem de valer até ao fim do aluguer."},"pais":{"type":"string","description":"País emissor.","maxLength":60}},"example":{"numero":"L-1234567","validade":"2030-01-01","pais":"Portugal"}},"ReservaPedido":{"type":"object","required":["modelo_id","inicio","fim","entrega","recolha","cliente","carta_conducao","total_esperado","referencia_externa"],"properties":{"modelo_id":{"type":"string","format":"uuid","description":"Id do modelo (de /modelos ou /disponibilidade)."},"inicio":{"type":"string","format":"date-time","description":"ISO 8601 com fuso (Z ou ±HH:MM); sem fuso dá 400."},"fim":{"type":"string","format":"date-time","description":"ISO 8601 com fuso, depois do início."},"entrega":{"type":"string","format":"uuid","description":"Id da localização de entrega (de /localizacoes)."},"recolha":{"type":"string","format":"uuid","description":"Id da localização de recolha; pode ser diferente da entrega."},"extras":{"type":"array","maxItems":20,"description":"Até 20; cada extra uma só vez (repetir o mesmo extra_id dá 400).","items":{"type":"object","required":["extra_id","quantidade"],"properties":{"extra_id":{"type":"string","format":"uuid","description":"Id do extra (de /extras)."},"quantidade":{"type":"integer","minimum":1,"description":"Inteiro de 1 até à quantidade_maxima do extra."}}}},"cobertura_id":{"type":["string","null"],"format":"uuid","description":"Cobertura escolhida (de /coberturas); a franquia dela substitui a do modelo."},"cliente":{"$ref":"#/components/schemas/ClienteReserva"},"carta_conducao":{"$ref":"#/components/schemas/CartaConducao"},"total_esperado":{"type":"number","description":"O subtotal.com_iva da cotação que o cliente viu. Se o preço mudou, a resposta é 409 PRECO_ALTERADO com a cotação nova em erro.detalhes."},"referencia_externa":{"type":"string","description":"Id da reserva no site. Repetir o pedido com a mesma referência devolve a reserva já criada (200), nunca uma segunda.","pattern":"^[A-Za-z0-9._:-]{1,100}$"},"mensagem":{"type":["string","null"],"description":"Nota do cliente para a equipa (voo, hora de chegada).","maxLength":1000}},"example":{"modelo_id":"b4e8f1a2-5c6d-4e7f-8a9b-0c1d2e3f4a5b","inicio":"2026-10-20T10:00:00+01:00","fim":"2026-10-23T10:00:00+01:00","entrega":"3f1c2a6e-8b4d-4c1e-9a7f-1d2e3f4a5b6c","recolha":"4a2d3b7f-9c5e-4d2f-8b8a-2e3f4a5b6c7d","extras":[],"cobertura_id":null,"cliente":{"nome":"Carla Nova","email":"carla@exemplo.pt","telefone":"+351 912 345 678","nif":null,"data_nascimento":"1990-05-01","morada":null,"codigo_postal":null,"localidade":null,"pais":"Portugal"},"carta_conducao":{"numero":"L-1234567","validade":"2030-01-01","pais":"Portugal"},"total_esperado":129.15,"referencia_externa":"site-2026-000123","mensagem":"Chego no voo TP1234 às 9h40."}},"Reserva":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"codigo":{"type":"integer","description":"Número da reserva no WeGest; usado em /reservas/{codigo}."},"estado":{"type":"string","enum":["pendente","confirmada","em_curso","concluida","cancelada","expirada"],"description":"Entra como pendente; a equipa confirma no WeGest."},"referencia_externa":{"type":["string","null"]},"periodo":{"$ref":"#/components/schemas/Periodo"},"modelo":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"marca":{"type":"string"},"modelo":{"type":"string"}}},"estacoes":{"type":"object","description":"Entrega e recolha, cada uma { id, nome }."},"total":{"$ref":"#/components/schemas/Preco"},"criada_em":{"type":"string","format":"date-time"}},"example":{"id":"7d1c2b3a-4e5f-4a6b-8c7d-9e0f1a2b3c4d","codigo":1042,"estado":"pendente","referencia_externa":"site-2026-000123","periodo":{"inicio":"2026-10-20T09:00:00+00:00","fim":"2026-10-23T09:00:00+00:00","dias":3},"modelo":{"id":"b4e8f1a2-5c6d-4e7f-8a9b-0c1d2e3f4a5b","marca":"Renault","modelo":"Clio"},"estacoes":{"entrega":{"id":"3f1c2a6e-8b4d-4c1e-9a7f-1d2e3f4a5b6c","nome":"Leiria — Centro"},"recolha":{"id":"4a2d3b7f-9c5e-4d2f-8b8a-2e3f4a5b6c7d","nome":"Porto"}},"total":{"sem_iva":105,"com_iva":129.15,"iva":23},"criada_em":"2026-10-03T14:05:00Z"}},"ModeloTvde":{"type":"object","description":"Modelo elegível para TVDE com preço na tarifa TVDE do site. IVA do TVDE. caixa e lugares vêm null enquanto não estiverem preenchidos no WeGest.","properties":{"id":{"type":"string","format":"uuid"},"marca":{"type":"string"},"modelo":{"type":"string","description":"Mostrado como \"<modelo> ou similar\"."},"categoria":{"type":["object","null"],"properties":{"id":{"type":"string","format":"uuid"},"nome":{"type":"string"}}},"caixa":{"type":["string","null"],"enum":["manual","automatica",null]},"combustivel":{"type":["string","null"]},"lugares":{"type":["integer","null"]},"portas":{"type":["integer","null"]},"bagageira":{"type":["integer","null"],"description":"Malas grandes que cabem na bagageira."},"ar_condicionado":{"type":"boolean"},"imagem_url":{"type":["string","null"],"description":"Foto de uma viatura deste modelo (link temporário, válido 24 h; pode mudar entre pedidos). null se nenhuma viatura do modelo tiver foto."},"frota":{"type":"integer","description":"Viaturas deste modelo que podem fazer TVDE."},"preco_semana":{"type":"object","description":"Preço por semana na tarifa TVDE do site.","required":["sem_iva","com_iva","iva"],"properties":{"sem_iva":{"type":"number","description":"Valor sem IVA."},"com_iva":{"type":"number","description":"Valor com IVA."},"iva":{"type":"number","description":"Taxa de IVA em percentagem."}}},"caucao":{"type":["object","null"],"description":"Caução do modelo.","required":["sem_iva","com_iva","iva"],"properties":{"sem_iva":{"type":"number","description":"Valor sem IVA."},"com_iva":{"type":"number","description":"Valor com IVA."},"iva":{"type":"number","description":"Taxa de IVA em percentagem."}}},"franquia":{"type":["object","null"],"description":"Franquia do modelo.","required":["sem_iva","com_iva","iva"],"properties":{"sem_iva":{"type":"number","description":"Valor sem IVA."},"com_iva":{"type":"number","description":"Valor com IVA."},"iva":{"type":"number","description":"Taxa de IVA em percentagem."}}},"km_incluidos":{"type":["integer","null"],"description":"Quilómetros incluídos por mês; null = ilimitados."},"km_adicional":{"type":["object","null"],"description":"Preço por quilómetro a mais.","required":["sem_iva","com_iva","iva"],"properties":{"sem_iva":{"type":"number","description":"Valor sem IVA."},"com_iva":{"type":"number","description":"Valor com IVA."},"iva":{"type":"number","description":"Taxa de IVA em percentagem."}}}},"example":{"id":"a7c3e5f1-2b4d-4e6f-8a1c-3e5f7a9b1c2d","marca":"Toyota","modelo":"Corolla Touring Sports","categoria":{"id":"5e7f9a1b-3c5d-4e7f-9a1b-3c5d7e9f1a2b","nome":"Híbrido"},"caixa":"automatica","combustivel":"hibrido","lugares":5,"portas":5,"bagageira":3,"ar_condicionado":true,"imagem_url":"https://hkqzzxgeedsmjnhyquke.supabase.co/storage/v1/object/sign/viatura-documentos/6f1e3d5b-7a9c-4b2e-8d4f-1a3c5e7b9d2f/fotos/1790777910834.webp?token=exemplo","preco_semana":{"sem_iva":230,"com_iva":243.8,"iva":6},"caucao":{"sem_iva":500,"com_iva":530,"iva":6},"franquia":{"sem_iva":1500,"com_iva":1590,"iva":6},"km_incluidos":6000,"km_adicional":{"sem_iva":0.1,"com_iva":0.11,"iva":6},"frota":6}},"ModeloTvdeDisponivel":{"allOf":[{"type":"object","description":"Modelo elegível para TVDE com preço na tarifa TVDE do site. IVA do TVDE. caixa e lugares vêm null enquanto não estiverem preenchidos no WeGest.","properties":{"id":{"type":"string","format":"uuid"},"marca":{"type":"string"},"modelo":{"type":"string","description":"Mostrado como \"<modelo> ou similar\"."},"categoria":{"type":["object","null"],"properties":{"id":{"type":"string","format":"uuid"},"nome":{"type":"string"}}},"caixa":{"type":["string","null"],"enum":["manual","automatica",null]},"combustivel":{"type":["string","null"]},"lugares":{"type":["integer","null"]},"portas":{"type":["integer","null"]},"bagageira":{"type":["integer","null"],"description":"Malas grandes que cabem na bagageira."},"ar_condicionado":{"type":"boolean"},"imagem_url":{"type":["string","null"],"description":"Foto de uma viatura deste modelo (link temporário, válido 24 h; pode mudar entre pedidos). null se nenhuma viatura do modelo tiver foto."},"frota":{"type":"integer","description":"Viaturas deste modelo que podem fazer TVDE."},"preco_semana":{"type":"object","description":"Preço por semana na tarifa TVDE do site.","required":["sem_iva","com_iva","iva"],"properties":{"sem_iva":{"type":"number","description":"Valor sem IVA."},"com_iva":{"type":"number","description":"Valor com IVA."},"iva":{"type":"number","description":"Taxa de IVA em percentagem."}}},"caucao":{"type":["object","null"],"description":"Caução do modelo.","required":["sem_iva","com_iva","iva"],"properties":{"sem_iva":{"type":"number","description":"Valor sem IVA."},"com_iva":{"type":"number","description":"Valor com IVA."},"iva":{"type":"number","description":"Taxa de IVA em percentagem."}}},"franquia":{"type":["object","null"],"description":"Franquia do modelo.","required":["sem_iva","com_iva","iva"],"properties":{"sem_iva":{"type":"number","description":"Valor sem IVA."},"com_iva":{"type":"number","description":"Valor com IVA."},"iva":{"type":"number","description":"Taxa de IVA em percentagem."}}},"km_incluidos":{"type":["integer","null"],"description":"Quilómetros incluídos por mês; null = ilimitados."},"km_adicional":{"type":["object","null"],"description":"Preço por quilómetro a mais.","required":["sem_iva","com_iva","iva"],"properties":{"sem_iva":{"type":"number","description":"Valor sem IVA."},"com_iva":{"type":"number","description":"Valor com IVA."},"iva":{"type":"number","description":"Taxa de IVA em percentagem."}}}},"example":{"id":"a7c3e5f1-2b4d-4e6f-8a1c-3e5f7a9b1c2d","marca":"Toyota","modelo":"Corolla Touring Sports","categoria":{"id":"5e7f9a1b-3c5d-4e7f-9a1b-3c5d7e9f1a2b","nome":"Híbrido"},"caixa":"automatica","combustivel":"hibrido","lugares":5,"portas":5,"bagageira":3,"ar_condicionado":true,"imagem_url":"https://hkqzzxgeedsmjnhyquke.supabase.co/storage/v1/object/sign/viatura-documentos/6f1e3d5b-7a9c-4b2e-8d4f-1a3c5e7b9d2f/fotos/1790777910834.webp?token=exemplo","preco_semana":{"sem_iva":230,"com_iva":243.8,"iva":6},"caucao":{"sem_iva":500,"com_iva":530,"iva":6},"franquia":{"sem_iva":1500,"com_iva":1590,"iva":6},"km_incluidos":6000,"km_adicional":{"sem_iva":0.1,"com_iva":0.11,"iva":6},"frota":6}},{"type":"object","properties":{"quantidade_disponivel":{"type":"integer","description":"Viaturas deste modelo livres a partir de inicio, sem fim (1 ou mais)."}}}],"example":{"id":"a7c3e5f1-2b4d-4e6f-8a1c-3e5f7a9b1c2d","marca":"Toyota","modelo":"Corolla Touring Sports","categoria":{"id":"5e7f9a1b-3c5d-4e7f-9a1b-3c5d7e9f1a2b","nome":"Híbrido"},"caixa":"automatica","combustivel":"hibrido","lugares":5,"portas":5,"bagageira":3,"ar_condicionado":true,"imagem_url":"https://hkqzzxgeedsmjnhyquke.supabase.co/storage/v1/object/sign/viatura-documentos/6f1e3d5b-7a9c-4b2e-8d4f-1a3c5e7b9d2f/fotos/1790777910834.webp?token=exemplo","preco_semana":{"sem_iva":230,"com_iva":243.8,"iva":6},"caucao":{"sem_iva":500,"com_iva":530,"iva":6},"franquia":{"sem_iva":1500,"com_iva":1590,"iva":6},"km_incluidos":6000,"km_adicional":{"sem_iva":0.1,"com_iva":0.11,"iva":6},"frota":6,"quantidade_disponivel":2}},"DisponibilidadeTvde":{"type":"object","properties":{"inicio":{"type":"string","format":"date-time","description":"O inicio pedido, em UTC."},"modelos":{"type":"array","items":{"$ref":"#/components/schemas/ModeloTvdeDisponivel"}}},"example":{"inicio":"2026-10-12T08:00:00+00:00","modelos":[{"id":"a7c3e5f1-2b4d-4e6f-8a1c-3e5f7a9b1c2d","marca":"Toyota","modelo":"Corolla Touring Sports","categoria":{"id":"5e7f9a1b-3c5d-4e7f-9a1b-3c5d7e9f1a2b","nome":"Híbrido"},"caixa":"automatica","combustivel":"hibrido","lugares":5,"portas":5,"bagageira":3,"ar_condicionado":true,"imagem_url":"https://hkqzzxgeedsmjnhyquke.supabase.co/storage/v1/object/sign/viatura-documentos/6f1e3d5b-7a9c-4b2e-8d4f-1a3c5e7b9d2f/fotos/1790777910834.webp?token=exemplo","preco_semana":{"sem_iva":230,"com_iva":243.8,"iva":6},"caucao":{"sem_iva":500,"com_iva":530,"iva":6},"franquia":{"sem_iva":1500,"com_iva":1590,"iva":6},"km_incluidos":6000,"km_adicional":{"sem_iva":0.1,"com_iva":0.11,"iva":6},"frota":6,"quantidade_disponivel":2}]}}},"responses":{"NaoAutenticado":{"description":"Chave em falta ou desconhecida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Erro"},"example":{"erro":{"codigo":"NAO_AUTENTICADO","mensagem":"Chave de API desconhecida."}}}}},"SemPermissao":{"description":"Chave sem a permissão, desactivada, expirada ou fora da whitelist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Erro"},"example":{"erro":{"codigo":"SEM_PERMISSAO","mensagem":"A chave não tem a permissão catalogo:read."}}}}},"NaoEncontrado":{"description":"Recurso inexistente nesta organização","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Erro"},"example":{"erro":{"codigo":"NAO_ENCONTRADO","mensagem":"Modelo não encontrado."}}}}},"ParametroInvalido":{"description":"Parâmetro de consulta inválido","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Erro"},"example":{"erro":{"codigo":"PARAMETRO_INVALIDO","mensagem":"tipo tem de ser passageiros ou comercial."}}}}},"LimiteExcedido":{"description":"Limite de pedidos por minuto excedido; ver Retry-After","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Erro"},"example":{"erro":{"codigo":"LIMITE_EXCEDIDO","mensagem":"Limite de pedidos por minuto excedido."}}}}},"PedidoInvalido":{"description":"Pedido inválido: PARAMETRO_INVALIDO (data sem fuso, UUID, extra repetido ou quantidade fora do limite), CORPO_INVALIDO (JSON inválido), PERIODO_INVALIDO (fim antes do início, início no passado) ou PERIODO_EXCEDE_MAXIMO (mais de 30 dias)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Erro"},"example":{"erro":{"codigo":"PARAMETRO_INVALIDO","mensagem":"inicio e fim são datas ISO 8601 com fuso."}}}}},"ErroInterno":{"description":"Falha inesperada a ler os dados; tente de novo","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Erro"},"example":{"erro":{"codigo":"ERRO_INTERNO","mensagem":"Falha a ler o catálogo."}}}}},"Indisponivel":{"description":"Serviço temporariamente indisponível (quotas ou base); ver Retry-After","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Erro"},"example":{"erro":{"codigo":"ERRO_INTERNO","mensagem":"Serviço temporariamente indisponível."}}}}}}}}